:root {
    --body:#f4f4f4;
    --header:#232f3e;
    --letras:white;
    --button:#e19110;
    --button-back:#ff9e02;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--body);
}

header {
    background-color: var(--header) ;
    color: var(--letras);
    padding: 10px 0;
    text-align: center;
}

html{
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header .titulo {
    font-size: 24px;
}

.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px; /* Ajusta el tamaño de la imagen */
    height: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    background-color: bisque;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: var(--letras);
    text-decoration: none;
}

.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input {
    padding: 10px;
    width: 300px;
}

.search-bar button {
    padding: 10px;
    background-color: #ff9900;
    border: none;
    color: white;
    cursor: pointer;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input {
    padding: 10px;
    width: 300px;
}

.search-bar button {
    padding: 10px;
    background-color: #ff9900;
    border: none;
    color: white;
    cursor: pointer;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 10px;
}

.product-info p {
    margin: 5px 0;
    color: #232f3e;
}

.product-info .price {
    font-size: 18px;
    color: #ff9900;
}

footer {
    background-color: var(--header);
    color: var(--letras);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    width: 100%;
    bottom: 0;
}

#back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: var(--button);
    color: var(--letras);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-button:hover {
    background-color: var(--letras);
    color: var(--button-back);
}


#back-to-top {
    position: absolute;
    bottom: 10px;
    right: 70px; /* Ajusta la posición según sea necesario */
    padding: 10px 20px;
    background-color: var(--button);
    color: var(--letras);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-to-top:hover {
    background-color: var(--letras);
    color: var(--button-back);
}

/*INDEX*/
.products-section {
    padding: 20px;
}

.products-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin-left: 30px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 10px;
}

.product-info p {
    margin: 5px 0;
    color: #232f3e;
}

.product-info .price {
    font-size: 18px;
    color: #ff9900;
}
/*Categorias pagina*/
.category-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.category-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-card img {
    width: 100%;
    height: auto;
}

.category-info {
    padding: 10px;
}

.category-info i {
    font-size: 24px;
    color: #ff9900;
}

.category-info p {
    margin: 10px 0 0;
    font-size: 18px;
    color: #232f3e;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.grid div {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details {
    text-align: center;
}

.product-details img {
    width: 300px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail {
    width: 50px; /* Ajusta el tamaño de las miniaturas */
    height: auto;
    margin: 0 5px;
    cursor: pointer;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}